@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  /* baggrundsfarve beige */
  --color-base-100: oklch(0.9939 0.0082 91.48);

  /* baggrundsfarve eggplant */
  --color-base-200: oklch(0.2605 0.0511 334.69);

  /* baggrundsfarve deep purple */
  --color-base-300: oklch(0.1533 0.0329 304.54);

  /*
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: oklch(55% 0.3 240);


  /*tekst eggplant */
  --color-primary-content: oklch(0.2605 0.0511 334.69);

  --color-secondary: oklch(70% 0.25 200);

  /* tekst beige */
  --color-secondary-content: oklch(0.9939 0.0082 91.48);

  /* button mørk */
  --color-accent-100: oklch(0.2605 0.0511 334.69);
  --color-accent-content-100: oklch(0.2605 0.0511 334.69);

  /* button lys */
  --color-accent-200: oklch(0.9939 0.0082 91.48);
  --color-accent-content-200: oklch(0.9939 0.0082 91.48);

  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 0.5px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}

@font-face {
  font-family: "OliveCitrus";
  src: url("/fonts/OliveCitrus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("/fonts/CormorantGaramond-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}