---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Doxa Flowers">
  <section class="">
    <h1>SERVICES</h1>
    <div class="flex justify-between">
      <p>
        Doxa Flowers skaber kunstneriske papirblomster, hvor hvert arrangement
        er et unikt værk, skabt specielt til dig, dit rum eller din begivenhed.
        Jeg arbejder efter principperne om slow craftsmanship, hvilket betyder,
        at hvert blad farves og formes i hånden. Dette er ikke en webshop med
        hurtig levering.
      </p>
      <Button type="submit">Tilmeld</Button>
    </div>
  </section>
  <section class="">
    <div>
      <img src="#" alt="billede af papirblomster" />
      <div>
        <h2>Det er Tiden, der Skaber Værket</h2>
        <p>
          For mig er Doxa Flowers en hyldest til ro, nærvær og det langsomme
          håndværk. Hver eneste blomst, du ser, er et stykke tid, et valg af
          farve og en følelse, jeg har formet i hånden. Min vision er at skabe
          unika-værker, der ikke blot pynter, men fortæller en historie og
          holder for evigt.
        </p>
        <Button type="submit">Tilmeld</Button>
      </div>
    </div>
  </section>
</MainLayout>
