---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Doxa Flowers">
  <section class="px-8">
    <h1>VÆRKER OG INSPIRATION</h1>
    <div class="flex justify-between">
      <p>
        Gennem tiden har jeg skabt unikke blomsterværker til private hjem,
        events og erhverv. Her kan du finde inspiration til dit eget
        unika-projekt.
      </p>
      <Button type="submit">Tilmeld</Button>
    </div>
  </section>
</MainLayout>
