---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Doxa Flowers">
  <section class="">
    <h1>SERVICES</h1>
    <div class="flex justify-between mb-8">
      <p>
        Doxa Flowers skaber kunstneriske papirblomster, hvor hvert arrangement
        er et unikt værk, skabt specielt til dig, dit rum eller din begivenhed.
        Jeg arbejder efter principperne om slow craftsmanship, hvilket betyder,
        at hvert blad farves og formes i hånden. Dette er ikke en webshop med
        hurtig levering.
      </p>
      <Button type="submit">Tilmeld</Button>
    </div>
  </section>
  <section class="">
    <div class="flex justify-between items-center mb-8">
      <img
        class="w-1/3"
        src="./img/forsidepicdoxa.webp"
        alt="billede af papirblomster"
      />
      <div>
        <h2>Det er Tiden, der Skaber Værket</h2>
        <p>
          For mig er Doxa Flowers en hyldest til ro, nærvær og det langsomme
          håndværk. Hver eneste blomst, du ser, er et stykke tid, et valg af
          farve og en følelse, jeg har formet i hånden. Min vision er at skabe
          unika-værker, der ikke blot pynter, men fortæller en historie og
          holder for evigt.
        </p>
        <Button type="submit">Tilmeld</Button>
      </div>
    </div>
  </section>
  <section class="">
    <div class="flex justify-between items-center mb-8">
      <div>
        <h2>skræddersyede buketter</h2>
        <p>
          Processen starter altid med en idé og en dialog. Sammen definerer vi
          form, farver og blomstervalg, hvorefter jeg skaber et kunstværk, der
          holder for evigt. Bemærk: Grundet den håndlavede proces er
          leveringstiden typisk 4-8 uger efter aftale er indgået. Ved større
          installationer kan processen tage længere tid.
        </p>
        <p>Priser starter fra 3000 kr.</p>
        <Button type="submit">Tilmeld</Button>
      </div>
      <img
        class="w-1/3"
        src="./img/forsidepicdoxa.webp"
        alt="billede af papirblomster"
      />
      <img
        class="w-1/3"
        src="./img/forsidepicdoxa.webp"
        alt="billede af papirblomster"
      />
    </div>
  </section>
  <section class="">
    <div class="flex justify-between items-center">
      <img
        class="w-1/3"
        src="./img/forsidepicdoxa.webp"
        alt="billede af papirblomster"
      />
      <img
        class="w-1/3"
        src="./img/forsidepicdoxa.webp"
        alt="billede af papirblomster"
      />
      <div>
        <h2>skræddersyede buketter</h2>
        <p>
          Processen starter altid med en idé og en dialog. Sammen definerer vi
          form, farver og blomstervalg, hvorefter jeg skaber et kunstværk, der
          holder for evigt. Bemærk: Grundet den håndlavede proces er
          leveringstiden typisk 4-8 uger efter aftale er indgået. Ved større
          installationer kan processen tage længere tid.
        </p>
        <p>Priser starter fra 3000 kr.</p>
        <Button type="submit">Tilmeld</Button>
      </div>
    </div>
  </section>
</MainLayout>
