---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import atelier from "../assets/images/vaerksted1.webp";
import atelier2 from "../assets/images/varksted.webp";
import Form from "../components/Form.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="Doxa Workshop">
  <section class="py-16 md:py-24">
    <div class="flex flex-col md:flex-row justify-between gap-8 md:gap-16">
      <div>
        <Heading htmlheading="h1" size="large">Workshop</Heading>
        <p>
          Doxa Flowers skaber kunstneriske papirblomster, hvor hvert arrangement
          er et unikt værk, skabt specielt til dig, dit rum eller din
          begivenhed. Jeg arbejder efter principperne om slow craftsmanship,
          hvilket betyder, at hvert blad farves og formes i hånden. Dette er
          ikke en webshop med hurtig levering.
        </p>
      </div>
      <div class="items-end">
        <Button variant="primary" size="small">Tilmeld workshop</Button>
      </div>
    </div>
  </section>

  <section class="py-16 md:py-24">
    <div class="flex flex-col md:flex-row justify-between gap-8 md:gap-16">
      <!-- Tekstcontainer: 1/3 af bredden på desktop -->
      <div class="flex flex-col gap-4 justify-center w-full md:w-1/3">
        <Heading htmlheading="h2" size="large">Kom med ind i Atelieret</Heading>
        <p>
          Ønsker du selv at komme tættere på håndværket og lære at skabe dine
          egne smukke papirblomster?
        </p>
        <p>
          Gennem workshops får du en introduktion til materialerne, teknikkerne
          og den ro, der ligger i det kreative håndarbejde. Perfekt som et
          nærværende pusterum eller en teambuilding-event.
        </p>
        <Button variant="primary" size="small">Lav en bestilling</Button>
      </div>

      <!-- Billedcontainer: 2/3 af bredden på desktop -->
      <div class="flex w-full md:w-2/3 gap-2">
        <Image
          src={atelier}
          alt="billede af atelier med papirblomster"
          class="w-1/2 h-auto max-w-full object-cover"
        />
        <Image
          src={atelier2}
          alt="billede af atelier med papirblomster"
          class="w-1/2 h-auto max-w-full object-cover"
        />
      </div>
    </div>
  </section>

  <section>
    <div class="py-40 place-self-center">
      <Heading htmlheading="h2" size="large">FAQ</Heading>
    </div>

    <div class="collapse collapse-arrow border-[1px] rounded-none">
      <input type="radio" name="my-accordion-2" checked="checked" />
      <div class="collapse-title font-semibold rounded-none">
        <p>Hvilke typer workshops tilbyder I?</p>
      </div>
      <div class="collapse-content text-sm rounded-none">
        <p>
          Vi tilbyder forskellige typer workshops, herunder introduktion til
          papirblomster, avancerede teknikker og skræddersyede forløb.
        </p>
      </div>
    </div>

    <div class="collapse collapse-arrow border-[1px] rounded-none">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title font-semibold rounded-none">
        <p>I forgot my password. What should I do?</p>
      </div>
      <div class="collapse-content text-sm rounded-none">
        <p>
          Click on "Forgot Password" on the login page and follow the
          instructions sent to your email.
        </p>
      </div>
    </div>

    <div class="collapse collapse-arrow border-[1px] rounded-none">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title font-semibold rounded-none">
        <p>How do I update my profile information?</p>
      </div>
      <div class="collapse-content text-sm rounded-none">
        <p>
          Go to "My Account" settings and select "Edit Profile" to make changes.
        </p>
      </div>
    </div>
  </section>
  <section>
    <Form />
  </section>
</MainLayout>
