---
---
<div data-property-1="Desk-Primary" class="px-8 py-2 outline outline-[0.50px] outline-offset-[-0.50px] outline-Color-button-outline-primary inline-flex justify-center items-center gap-2.5">
    <div class="justify-start text-Color-text-primary text-lg italic font-light font-['Work_Sans']">Lav en bestilling</div>
</div>