---
---
<div data-property-1="Primary" class="w-[1426px] px-2 py-3 bg-black/0 inline-flex justify-between items-center overflow-hidden">
    <div class="justify-start text-Color-text-primary text-5xl font-normal font-['Olive_&_Citrus'] uppercase">Doxaflowers</div>
    <div class="w-[843px] py-2.5 flex justify-between items-center overflow-hidden">
        <div class="justify-start text-Color-text-primary text-base font-normal font-['Work_Sans'] uppercase tracking-[4px]">Værker & Priser</div>
        <div class="justify-start text-Color-text-primary text-base font-normal font-['Work_Sans'] uppercase tracking-[4px]">Håndværket</div>
        <div class="justify-start text-Color-text-primary text-base font-normal font-['Work_Sans'] uppercase tracking-[4px]">Galleri</div>
        <div class="justify-start text-Color-text-primary text-base font-normal font-['Work_Sans'] uppercase tracking-[4px]">Workshops</div>
        <div class="justify-start text-Color-text-primary text-base font-normal font-['Work_Sans'] uppercase tracking-[4px]">Kontakt</div>
    </div>
</div>
