---
import { Image } from "astro:assets";
import logosvg from "../assets/images/doxaflowers_logo.svg";
---

<header 
  role="banner"
  class="fixed bg-base-100 text-primary-content left-0 top-0 w-full z-50 tracking-widest"
>

  <div
    class="px-8 md:px-12 lg:px-14 mx-auto flex items-center justify-between"
  >
    <!-- LOGO -->
    <div class="mt-2">
      <a href="/">
        <Image src={logosvg} alt="Doxa Flowers Logo" />
      </a>
    </div>

    <!-- DESKTOP MENU -->
    <nav class="hidden lg:flex items-center gap-8 font-[WorkSans]">
      <a href="/koncept" class="uppercase text-sm hover:opacity-80">Koncept</a>
      <a href="/galleri" class="uppercase text-sm hover:opacity-80">Galleri</a>
      <a href="/services" class="uppercase text-sm hover:opacity-80"
        >Værker & Priser</a
      >
      <a href="/workshop" class="uppercase text-sm hover:opacity-80"
        >Workshops</a
      >
      <a href="/kontakt" class="uppercase text-sm hover:opacity-80">Kontakt</a>
    </nav>

    <!-- BURGER BTN -->
    <button
      id="menuButton"
      class="lg:hidden flex flex-col gap-1.5 px-8 fill-primary-content"
      aria-label="Toggle menu"
    >
      <span class="w-6 h-[2px] bg-base-200"></span>
      <span class="w-6 h-[2px] bg-base-200"></span>
      <span class="w-6 h-[2px] bg-base-200"></span>
    </button>
  </div>

  <!-- MOBILE MENU -->
  <nav id="mobileMenu" class="hidden grid gap-5 px-6 py-8">
    <a href="/koncept" class="uppercase text-base text-primary-content font-light"
      >Koncept</a
    >
    <a href="/galleri" class="uppercase text-base text-primary-content font-light"
      >Galleri</a
    >
    <a href="/services" class="uppercase text-base text-primary-content font-light"
      >Værker & Priser</a
    >
    <a href="/workshop" class="uppercase text-base text-primary-content font-light"
      >Workshops</a
    >
    <a href="/kontakt" class="uppercase text-base text-primary-content font-light"
      >Kontakt</a
    >
  </nav>
</header>

<script is:inline>
  const button = document.querySelector("#menuButton");
  const menu = document.querySelector("#mobileMenu");

  button?.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });
</script>
