---
// Henter parametrene fra Astro.props
const { href="#" , target="_self" , variant= "textlink", size = "small" } = Astro.props; 
 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper

const linkStyling = "cursor-pointer text: font-['WorkSans'] transition duration-200"; 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
"textlink": "uppercase",
"primary": "px-8 py-2 border-1 border-black bg-transparent text-primary-content border-primary-content",
"secondary": "px-8 py-2 border-1 border-black bg-transparent text-secondary-content border-secondary-content"
};
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
  large: "text-4xl",

  medium: "text-2xl",

  small: "text-md",

  xsmall: "text-sm",
};
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>